** Minerando Dados** - A maior comunidade de Data Science do Brasil

www.minerandodados.com.br

**Importa o pandas e extende as colunas string**

In [83]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

** Cria um Dataframe de exemplo**

In [68]:
dt = pd.DataFrame([['Atendimento excelente, chega de coisa ruim no mercado','positivo'],
                   ['Gostei muito do atendimento, estão de parabéns!!,recomendo muito!!','positivo'],
                   ['É uma pena não ter estacionamento, isso prejudica demais!','negativo'],
                   ['Achei que tinha estacionamento, isso quebrou minhas pernas','negativo'],
                   ['Achei o preço salgado!.','negativo'],
                   ['Comida muito boa, preço bom!!','positivo'],
                   ['Preço bom e lugar aconchegante.','positivo']]
                   , columns=['review','sentiment'])

** Cria função de frequência**

In [13]:
def word_count(review, word):
    review = review.lower()
    return review.count(word)

** Exemplo de uso do lambda**

In [76]:
soma = lambda x,y: x+y
print (soma(1,2))

3

** Cria coluna com frequências**

In [69]:
dt['atendimento'] = dt['review'].apply(lambda x: word_count(x, 'atendimento'))
dt['estacionamento'] = dt['review'].apply(lambda x: word_count(x, 'estacionamento'))
dt['preço'] = dt['review'].apply(lambda x: word_count(x, 'preço'))
dt['comida'] = dt['review'].apply(lambda x: word_count(x, 'comida'))

** Exibe dataframe**

In [84]:
dt

,review,sentiment,atendimento,estacionamento,preço,comida
0,"Atendimento excelente, chega de coisa ruim no mercado",positivo,1,0,0,0
1,"Goste muito do atendimento, estão de parabéns!!,recomendo muito!!",positivo,1,0,0,0
2,"È uma pena não ter estacionamento, isso prejudica demais!",negativo,0,1,0,0
3,"Achei que tinha estacionamento, isso quebrou minhas pernas",negativo,0,1,0,0
4,Achei o preço salgado!.,negativo,0,0,1,0
5,"Comida muito boa, preço bom!!",positivo,0,0,1,1
6,Preço bom e lugar aconchegante.,positivo,0,0,1,0

** Exibe agrupamento de colunas**

In [72]:
dt.groupby('sentiment')[dt.columns].sum()

           atendimento  estacionamento  preço  comida
sentiment
negativo             0               2      1       0
positivo             2               0      2       1